<div class="row justify-content-md-center fixed-bottom py-2" style="background-color: #0F2535;">
    <div class="col col-lg-2"></div>
    <div class="col-md-auto">
        <img src="img/octopus_logo.png" height="30" width="30" />
    </div>
    <div class="col col-lg-2"></div>
</div>
