<div class="pl-4 navbar fixed-top navbar-light" style="background-color: #2E92DF;">
    <a class="navbar-brand" href="">
        <img src="/img/pull-request.svg" height="30" width="30" alt="" />
    </a>
</div>

@code {
}
