<div class="navbar fixed-top navbar-light">
<div class="mx-auto">
    <a class="navbar-brand" href="">
        <img src="/img/pull-request.svg" height="45" width="45" alt="" />
    </a>
</div>
</div>

@code {
}
