version: 2.0.0-ci.{build}
image: Visual Studio 2017
configuration: Release

environment:
  informational_version: "$($env:APPVEYOR_BUILD_VERSION)+Branch.$($env:APPVEYOR_REPO_BRANCH).Sha.$($env:APPVEYOR_REPO_COMMIT)"

init:
  - git config --global core.autocrlf true
  - ps: >-
      Write-Host "Informational version: $($env:informational_version)"
  - ps: >-
      if ($env:APPVEYOR_REPO_TAG -eq "true")
      {
        Update-AppveyorBuild -Version "$env:APPVEYOR_REPO_TAG_NAME"
      }

assembly_info:
  patch: true
  file: AssemblyInfo.*
  assembly_version: "{version}"
  assembly_file_version: "{version}"
  assembly_informational_version: "$($env:informational_version)"

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '$($env:informational_version)'

before_build:
  - cmd: dotnet --version
  - cmd: dotnet restore src/Hyponome.sln

build:
  project: src/Hyponome.sln
  verbosity: minimal

after_build:
  - cmd: dotnet publish src/Hyponome.sln -o ../../publish

artifacts:
  - path: 'publish'
    name: 'Hyponome.Web.$(appveyor_build_version)'
    type: zip

deploy:
  - provider: GitHub
    release: $(appveyor_build_version)
    artifact: /.*\.zip/
    auth_token:
      secure: B2JVRrkpAtNQ8+2sB67MekSAwnzooAzjstsEC6dBYEV5GTicllgCtDuf3xTjlWz4
    draft: false
    prerelease: false
    on:
      branch: master
      appveyor_repo_tag: true

  - provider: Octopus
    push_packages: true
    create_release: true
    deploy_release: false
    server: https://deploy.octopushq.com
    api_key:
      secure: l2Uw2jw/wd+RI1r01AZMALvYHCsoS66rve+XsZQoCU0=
    artifact: /.*\.zip/
    project: Hyponome
    environment: Test
    deploy_wait: true
    on:
      branch: master
      appveyor_repo_tag: true