image: Visual Studio 2019
configuration: Release

environment:
  octopus_api_key:
    secure: IuRXJNyTNNPWzv1w4Rw0HkSgUp1qRHxHFRM6fldpTcs=
  github_auth_token:
    secure: RKJcL2Cdv/b3iiKoxADcLMf/dmoi9UGn6EkgpKUQkyitgwHDG7aVp26TUmuzwYdt

init:
  - git config --global core.autocrlf true

install:
  - choco install gitversion.portable -pre -y
  - pwsh: gitversion /l console /output buildserver

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$env:GitVersion_NuGetVersion'
  package_version: '$env:GitVersion_NuGetVersion'
  assembly_version: '$env:GitVersion_AssemblySemVer'
  file_version: '$env:GitVersion_NuGetVersion'
  informational_version: '$env:GitVersion_InformationalVersion'

before_build:
  - pwsh: dotnet --version
  - pwsh: dotnet restore source/Hyponome.sln
  - pwsh: Update-AppveyorBuild -Version "$env:GitVersion_FullSemVer"

build:
  project: source/Hyponome.sln
  verbosity: minimal

after_build:
  - pwsh: dotnet publish source/Hyponome/Server -o ./publish

artifacts:
  - path: './publish'
    name: 'Hyponome.Web.$(appveyor_build_version)'
    type: zip

deploy:
  - provider: GitHub
    release: $(appveyor_build_version)
    artifact: /.*\.zip/
    auth_token: $(github_auth_token)
    draft: false
    prerelease: false
    on:
      branch: master
      appveyor_repo_tag: true

  - provider: Octopus
    server: https://deploy.octopushq.com
    api_key: $(octopus_api_key)
    push_packages: true
    artifact: /.*\.zip/
    create_release: true
    project: Hyponome
    release_number: $(appveyor_build_version)
    release_channel: 'Pre-Release'
    deploy_release: true
    environment: Development
    deploy_wait: true
      
  - provider: Octopus
    server: https://deploy.octopushq.com
    api_key: $(octopus_api_key)
    push_packages: true
    artifact: /.*\.zip/
    create_release: true
    project: Hyponome
    release_number: $(appveyor_build_version)
    release_channel: 'Release'
    deploy_release: true
    environment: Test
    deploy_wait: true
    on:
      branch: master
      appveyor_repo_tag: true