image: Visual Studio 2017
configuration: Release

init:
  - git config --global core.autocrlf true

install:
  - choco install gitversion.portable -pre -y

assembly_info:
  patch: false

before_build:
  - ps: gitversion /l console /output buildserver /updateAssemblyInfo
  - cmd: dotnet --version
  - cmd: dotnet restore src/Hyponome.sln

build:
  project: src/Hyponome.sln
  verbosity: minimal

after_build:
  - cmd: dotnet publish src/Hyponome.sln -o ../../publish

artifacts:
  - path: 'publish'
    name: 'Hyponome.Web.$(appveyor_build_version)'
    type: zip

deploy:
  - provider: GitHub
    release: $(appveyor_build_version)
    artifact: /.*\.zip/
    auth_token:
      secure: B2JVRrkpAtNQ8+2sB67MekSAwnzooAzjstsEC6dBYEV5GTicllgCtDuf3xTjlWz4
    draft: false
    prerelease: false
    on:
      branch: master
      appveyor_repo_tag: true

  - provider: Octopus
    push_packages: true
    create_release: true
    deploy_release: false
    server: https://deploy.octopushq.com
    api_key:
      secure: l2Uw2jw/wd+RI1r01AZMALvYHCsoS66rve+XsZQoCU0=
    artifact: /.*\.zip/
    project: Hyponome
    environment: Test
    deploy_wait: true
    on:
      branch: master
      appveyor_repo_tag: true