@page "/"

@using Hyponome.Client.Components.Loading
@using Hyponome.Client.Components.PullRequests

@inherits IndexBase

<div class="container">
    @if (PullRequests == null)
    {
        <Loading/>
    }
    else
    {
        <PullRequestList PullRequests="PullRequests"/>
    }
</div>