<div class="container">
    <div class="d-flex justify-content-center">
        <div class="spinner-border" style="color: #2E92DF!important;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>