@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap');

html, body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    background-color: #f8f8f8!important;
}

a, a:hover, .btn-link:active, .btn-link:focus {
    text-decoration: none;
}

.issue-title-link {
    color: rgb(51, 51, 51);
}

.link-muted {
    color: rgb(119, 119, 119);
    font-weight: 600;
}

.link-muted:hover {
    color: rgb(65, 131, 196);
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.badge-octopus {
    color: #fff;
    background-color: #2E92DF;
}

.content {
    padding-top: 5rem;
}

.acediff-container {
    min-height: 700px;
    position: relative;
}

.acediff__left .acediff__diffLine {
    background-color: #ffeef0;
    border-top: 0;
    border-bottom: 0;    
}

.acediff__right .acediff__diffLine {
    background-color: #e6ffed;
    border-top: 0;
    border-bottom: 0;
}


@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }
}
