@inherits ValidationDetailsBase

<div class="alert alert-@(Errors is null || !Errors.Any() ? "success" : "warning") mb-0 p-1 rounded-0" role="alert">
    @if (Errors is null || !Errors.Any())
    {
        <p class="mb-0">
            <i class="fas fa-check-circle"></i> Script validation was successful!
        </p>
    }
    else
    {
        <h6 class="alert-heading"><span class="fas fa-exclamation-circle"></span> Script validation failed!</h6>
        <p class="mb-0">
            <ul class="mb-0">
                @foreach (var error in Errors)
                {
                    <li>
                        At line:@(error.Line); column:@(error.Column) - @error.Message
                    </li>
                }
            </ul>
        </p>
    }
</div>