body {
	padding-top: 60px;
}

.file-editor {
	position: relative;
	width: 100%;
	min-height: 600px;
	margin: 0 auto;
}

.navbar-brand .mega-octicon {
	margin-top: -5px;
}

.header {
	border: none;
	min-width: initial;
}

.file-header .file-info .octicon {
	color: #ccc;
}

.gh-header.pull.request {
	margin-bottom: 10px;
}

.merge-pr {
	width: 50%;
	padding-top: 0;
	margin: 0;
	border-top: 0;
}

.merge-branch-heading {
	font-weight: bold;
}

.merge-branch-action {
	margin-top: -8px;
}

.validation-summary-errors ul {
	list-style: none;
}

.navbar-brand {
	padding: 5px 10px;
}

.navbar-brand img {
	height: 40px;
	width: 40px;
}

.navbar-text {
	margin: 0;
}

.progress-bar {
	box-shadow: none;
	width: 100%;
}

.file-header button {
	margin-left: 10px;
}

footer {
	margin-top: 10px;
	padding: 10px 0;
	background: #f2f2f2;
	border: 1px solid #e5e5e5;
	line-height: 30px;
	color: #666;
}

.footer-logo img {
	height: 30px;
	opacity: 0.2;
	text-align: center;
}

.footer-logo a:hover img {
	opacity: 0.5;
}

footer a {
	font-weight: bold;
	color: #666;
}