@inherits PullRequestListBase

@if (!PullRequests.Any())
{
    <div class="text-center">
        <p class="lead">All PRs have been reviewed!</p>
        <img src="img/waiting-for-octopus.svg" alt="Octopus Deploy" width="600" height="250"/>
    </div>
}
else
{
    @foreach (var pullRequest in PullRequests)
    {
        <PullRequestListItem PullRequest="@pullRequest"/>
    }
}