@inherits PullRequestListBase

@if (!PullRequests.Any())
{
    <div class="text-center">
        <img src="img/waiting-for-octopus.svg" alt="Octopus Deploy" width="600" height="250"/>
        <p class="lead">Great job, all open Library PRs have been reviewed!</p>
        <p>
            <i class="far fa-heart text-danger fa-2x align-top"></i>
            <i class="far fa-heart text-danger fa-3x align-top"></i>
            <i class="far fa-heart text-danger fa-5x"></i>
            <i class="far fa-heart text-danger fa-3x align-top"></i>
            <i class="far fa-heart text-danger fa-2x align-top"></i>
        </p>
    </div>
}
else
{
    @foreach (var pullRequest in PullRequests)
    {
        <PullRequestListItem PullRequest="@pullRequest"/>
    }
}