<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <httpPlatform 
      processPath="%HOME%\site\approot\kestrel.cmd"
      stdoutLogFile="\\?d:\home\site\logs\stdout.log"
      xdt:Transform="SetAttributes(processPath, stdoutLogFile)">
    </httpPlatform>
  </system.webServer>
</configuration>