<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <httpPlatform 
      processPath="%HOME%\site\approot\kestrel.cmd"
      stdoutLogEnabled="false"
      stdoutLogFile="%HOME%\site\logs\stdout.log"
      xdt:Transform="SetAttributes(processPath, stdoutLogEnabled, stdoutLogFile)">
    </httpPlatform>
  </system.webServer>
</configuration>