<div class="container">
	<div class="col-md-4 col-md-offset-4">
		<div class="footer-logo">
			<img src="/img/octopus_logo.png"/>
		</div>
	</div>
	<div class="col-md-4 text-right">
		&copy; 2015 Octopus Deploy Pty. Ltd.
	</div>
</div>