@model string
<div class="subnav">
	<div class="subnav-links left" role="navigation">
		<a href="/pulls" class="subnav-item @(@Model == "pulls" ? "selected" : "")">Pull requests</a>
		<a href="/milestones" class="subnav-item @(@Model == "milestones" ? "selected" : "")">Milestones</a>
	</div>
</div>
